<header [class.header_change]="headerVariable">
    <div class="contenedor">

        <div id="logo">
            <a routerLink="/">
                    Mercado De Las Pulgas
            </a>
        </div>

        <nav id="nav">
            <ul>
                <li>
                    <a routerLink="/">
                        <i class="fa fa-home" aria-hidden="true"></i>
                    </a>
                </li>

                <!-- <li><a href="">Filters</a></li> -->

                <li>
                    <a routerLink="wish-list">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    </a>
                </li>

                <li>
                    <a routerLink="carrito">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </nav>

    </div>

</header>

<!-- routerLinkActive="activo" -->