<div class="card tarjeta" style="width: 18rem;">
    <img src="{{articulo.url}}" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{articulo.name}}</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <p class="card-text">Precio: ${{articulo.price}}</p>

        <a class="btn btn-primary" (click)='agregarCarrito(articulo)'>
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        </a>
        <a class="btn btn-primary" *ngIf="!enFavoritos" (click)='agregarFav(articulo)'>
            <i class="fa fa-heart-o" aria-hidden="true"></i>
        </a>
        <a class="btn btn-primary" *ngIf="enFavoritos" (click)='borrarFav(articulo)'>
            <i class="fa fa-heart" aria-hidden="true"></i>
        </a>
    </div>
</div>